// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import '~pretty-checkbox/src/pretty-checkbox.scss';

/* REQUIRED */
@import '~pretty-checkbox/src/scss/variables';
@import '~pretty-checkbox/src/scss/core';

/* OPTIONALS */
@import '~pretty-checkbox/src/scss/elements/default/fill';
@import '~pretty-checkbox/src/scss/elements/default/outline';
@import '~pretty-checkbox/src/scss/elements/default/thick';

@import '~pretty-checkbox/src/scss/elements/font-icon/general';

@import '~pretty-checkbox/src/scss/elements/svg/general';

@import '~pretty-checkbox/src/scss/elements/image/general';

@import '~pretty-checkbox/src/scss/elements/switch/general';
@import '~pretty-checkbox/src/scss/elements/switch/fill';
@import '~pretty-checkbox/src/scss/elements/switch/slim';

@import '~pretty-checkbox/src/scss/extras/toggle';
@import '~pretty-checkbox/src/scss/extras/plain';
@import '~pretty-checkbox/src/scss/extras/round';
@import '~pretty-checkbox/src/scss/extras/curve';
@import '~pretty-checkbox/src/scss/extras/animation';
@import '~pretty-checkbox/src/scss/extras/disabled';
@import '~pretty-checkbox/src/scss/extras/locked';
@import '~pretty-checkbox/src/scss/extras/colors';
@import '~pretty-checkbox/src/scss/extras/print';

@import '~pretty-checkbox/src/scss/states/hover';
@import '~pretty-checkbox/src/scss/states/focus';
@import '~pretty-checkbox/src/scss/states/indeterminate';

// If you felt the name is not-so-pretty,
// you can always change!

$pretty--class-name: pretty;

// are you sure, you wanna change my handpicked
// awesome super duper colors?

$pretty--color-default:#bdc3c7;
$pretty--color-primary:#428bca;
$pretty--color-info:#5bc0de;
$pretty--color-success:#5cb85c;
$pretty--color-warning:#f0ad4e;
$pretty--color-danger:#d9534f;
$pretty--color-dark:#5a656b;

// uh, boring z-index stuff, who cares.

$pretty--z-index-back:0;
$pretty--z-index-between:1;
$pretty--z-index-front:2;

// nobody will change this.

$pretty--debug:false;
$pretty--dev-err:'Invalid input type!';